<html>  
<head>  
    <title>upload</title>  
</head>
<body> 
    <h1>ELAN annotation pipeline</h1> 
    <p>This online version of the annotation tool is developed by Niko Partanen, and it runs in CSC's cPouta infrastructure. The tool is based to collaboration and contributions of Ciprian Gerstenberger, Niko Partanen, Mika Hämäläinen, Iris Perkmann, Michael Rießler and Joshua Wilbur. Further documentation of the pipeline is available <a href="https://github.com/langdoc/elan-fst">here</a>.</p>
    <p>This annotation tool works with ELAN files that follow the standards used in projects associated with the Freiburg Research Group in Saami Studies, and in Giellagas Institute for Saami Studies in the University of Oulu.</p>
    <p>The files are first validated, and the files have to follow one of those structures. Customizing the tool according to a new template is also possible.</p>
    <form action = "{{ url_for('success') }}" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Process">  
    </form> 
    <p>Current implementation supports tier template used in Komi documentation project IKDP, and the template used in Giellagas Corpus of Spoken Saami Languages. This work has been carried out in <a href="https://koneensaatio.fi/">Kone Foundation</a> funded project <a href="https://langdoc.github.io/IKDP-2/">Language Documentation Meets Language Technology: The Next Step in the Description of Komi</a></p>
    <p>If you use this resource, please cite:</p>
    <p><blockquote>Gerstenberger, Ciprian, Partanen, Niko, Rießler, Michael, and Wilbur, Joshua 2017: Instant Annotations–Applying NLP Methods to the Annotation of Spoken Language Documentation Corpora. In Proceedings of the Third Workshop on Computational Linguistics for Uralic Languages (pp. 25-36). <a href="http://www.aclweb.org/anthology/W17-0604">URL</a></blockquote></p>
    <p><blockquote>Hämäläinen, Mika. (2019). UralicNLP: An NLP Library for Uralic Languages. Journal of open source software, 4(37), [1345]. <a href="https://doi.org/10.21105/joss.01345">https://doi.org/10.21105/joss.01345</a></blockquote></p>
</body>  
</html>
